In [17]:
import os 
import moncarlo
import pandas as pd
import numpy as np
import matplotlib

In [18]:
a = np.array(['H','T'])
die1 = moncarlo.MonCarloDevice(a)

<class 'numpy.ndarray'>
yes, this is an np.ndarray!
check ok.
check ok.

In [19]:
die2 = moncarlo.MonCarloDevice(a)
die2._gamestats

<class 'numpy.ndarray'>
yes, this is an np.ndarray!
check ok.
check ok.

       weights
faces
H          1.0
T          1.0

In [20]:
die2.change_facewt('T', 5)

check okay: that face exists.
check okay: that face exists.

In [21]:
die2._gamestats

   weights
H      1.0
T      5.0