In [23]:
import pandas as pd

# Create a simple 4x2 DataFrame
data = {
    'faces': ['A', 'B', 'C', 'D'],
    'weights': [1, 1, 1, 1]
}
df = pd.DataFrame(data)
df = df.set_index('faces')
df

       weights
faces
A            1
B            1
C            1
D            1

In [24]:
df_dict = df.to_dict('index')
df_dict

{'A': {'weights': 1},
 'B': {'weights': 1},
 'C': {'weights': 1},
 'D': {'weights': 1}}

In [25]:
face = 'B'
nwt = 5
nwt = {'weights' : 5}

In [26]:
df_dict[face] = nwt
df_dict

{'A': {'weights': 1},
 'B': {'weights': 5},
 'C': {'weights': 1},
 'D': {'weights': 1}}

In [27]:
gamestats = pd.DataFrame.from_dict(df_dict, orient = 'index')
gamestats

   weights
A        1
B        5
C        1
D        1

In [ ]:
        stats_dict = self._gamestats.to_dict('index')
        stats_dict['self.face'] = self.nwt
        self._gamestats = pd.DataFrame.from_dict(stat_dict, orient = 'index')
        print(self._gamestats()) # production only; take out at the end