start with a dictionary format:

In [3]:
import pandas as pd

data = {'Item': ['Apple', 'Banana', 'Orange'],\
        'Quantity': [10, 20, 30],'Price': [0.5, 0.3, 0.7]}

create the dataframe

In [4]:
df = pd.DataFrame(data)
df

     Item  Quantity  Price
0   Apple        10    0.5
1  Banana        20    0.3
2  Orange        30    0.7

iterate over the rows...

In [6]:
# Iterating over rows
for index, row in df.iterrows():
    total_sales = row['Quantity'] * row['Price']
    print(f"{row['Item']} Total Sales: ${total_sales}")

Apple Total Sales: $5.0
Banana Total Sales: $6.0
Orange Total Sales: $21.0